<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Scrum Concepts Summary</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Scrum Concepts Summary</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5706621db6a7431dbaecfbf96e11b6de.png" alt="Scrum Concepts Summary" usemap="#id-5706621db6a7431dbaecfbf96e11b6demap"/>
			   <map name="id-5706621db6a7431dbaecfbf96e11b6demap">
				          <area shape="rect" coords="742,574,1331,623" href="../objects/id-84abff8f7e55476289c5802edc89703c.html" target="element" >
				  				<area shape="rect" coords="1197,46,1317,101" href="../elements/id-c646a6e379a5425db39708718689a224.html"  target="element">
				  				<area shape="rect" coords="1078,46,1198,101" href="../elements/id-6530801b36054c31a03e518f81ef082a.html"  target="element">
				  				<area shape="rect" coords="922,46,1042,101" href="../elements/id-94950469b53d463296cfcf5f4fb0cfef.html"  target="element">
				  				<area shape="rect" coords="766,46,886,101" href="../elements/id-8ffeadb8f34f475790ce7f8533b31110.html"  target="element">

				  		<area shape="rect" coords="742,10,1331,143" href="../elements/id-05ca22e09eae43f9be67b7637a6ab10e.html"  target="element">
				  				<area shape="rect" coords="250,70,370,125" href="../elements/id-331ac9a493cb4681b6eb0bf221fe9073.html"  target="element">
				  				<area shape="rect" coords="142,100,262,155" href="../elements/id-be3f9f82fc3a4a1d8b6df383bbc6f17f.html"  target="element">
				  				<area shape="rect" coords="22,100,142,155" href="../elements/id-bb3959a8438e43d1a0887857c51c111f.html"  target="element">
				  				<area shape="rect" coords="142,46,262,101" href="../elements/id-53809e29a09e444e9e52442c77b82881.html"  target="element">
				  				<area shape="rect" coords="22,46,142,101" href="../elements/id-699528acfc594cdaa99221d6dfc56c17.html"  target="element">

				  		<area shape="rect" coords="10,10,383,167" href="../elements/id-342d4abff53e4a24bfe7d5a97575c2f7.html"  target="element">
				  				<area shape="rect" coords="514,106,634,161" href="../elements/id-5666873cf8a44f3db07b445c38b0033d.html"  target="element">
				  				<area shape="rect" coords="574,34,694,89" href="../elements/id-c9bcc20d6f5c4e0cbc171a5cd5b57001.html"  target="element">
				  				<area shape="rect" coords="442,34,562,89" href="../elements/id-91b63901a2674a0d84af8153cf98b2e3.html"  target="element">

				  		<area shape="rect" coords="430,10,707,167" href="../elements/id-fc0d4d74ae40489d904419755c03bfe4.html"  target="element">
				  				<area shape="rect" coords="238,556,358,611" href="../elements/id-cc7b36a294424186887480708c8b754b.html"  target="element">
				  				<area shape="rect" coords="238,481,358,536" href="../elements/id-3d31a742f80143fb877762fd8e99d81c.html"  target="element">
				  				<area shape="rect" coords="238,406,358,461" href="../elements/id-abe9a973dc00462c8bbeba4e75a6bb0f.html"  target="element">
				  				<area shape="rect" coords="34,238,191,293" href="../elements/id-d01694f8fce44edabc198124d56455d4.html"  target="element">
				  				<area shape="rect" coords="34,406,191,611" href="../elements/id-381354df789846a28878259f9a42e410.html"  target="element">
				  				<area shape="rect" coords="34,322,191,377" href="../elements/id-4ee66d2164f849929a5421e65d9f2e52.html"  target="element">

				  		<area shape="rect" coords="10,202,383,623" href="../elements/id-c1b70b276d4c4b0f91a856df6c13adc1.html"  target="element">
				  		        <area shape="rect" coords="1006,430,1126,488" href="../objects/id-8b2d357b70a54e4e80913587f39394d2.html" target="element" >
				  				<area shape="rect" coords="874,487,994,542" href="../elements/id-756c05a69c834c6f9b234210e06c390b.html"  target="element">
				  				<area shape="rect" coords="766,250,886,305" href="../elements/id-020bd65dc6d64206a7d9ae474dd5c52d.html"  target="element">
				  				<area shape="rect" coords="874,358,994,413" href="../elements/id-8c25fc71b61e434a9cd08482d094760e.html"  target="element">
				  				<area shape="rect" coords="1006,358,1126,413" href="../elements/id-d48559daaf4e4becbf8a7fe12a60b302.html"  target="element">
				  				<area shape="rect" coords="946,250,1066,305" href="../elements/id-e85d2909118048f5825078ce9e273cbf.html"  target="element">
				  				<area shape="rect" coords="1137,250,1257,305" href="../elements/id-9f8ad53cd2d3426eac7faff1fa9ca18e.html"  target="element">
				  				<area shape="rect" coords="1137,358,1258,413" href="../elements/id-eef5e6d8a0be45e9a967fc797e32e596.html"  target="element">

				  		<area shape="rect" coords="742,202,1331,563" href="../elements/id-276467fb59e64d04bba2c26d315a3f55.html"  target="element">
				  						<area shape="rect" coords="502,502,622,557" href="../elements/id-2910ff21808b4f2c9f4a32a1ca653bcb.html"  target="element">
				  						<area shape="rect" coords="502,430,622,485" href="../elements/id-b9c9a03e5870412288c37bb6a50b068a.html"  target="element">
				  						<area shape="rect" coords="502,358,622,413" href="../elements/id-2ce9bf2a538d41b0b4b15aaf15ee9789.html"  target="element">
				  						<area shape="rect" coords="502,286,622,341" href="../elements/id-9070d672a91144da88c5e5b498a273b2.html"  target="element">

				  				<area shape="rect" coords="490,250,639,575" href="../elements/id-2d62a9fe7ea345ffb88a08b032c3c6b6.html"  target="element">

				  		<area shape="rect" coords="430,202,707,623" href="../elements/id-1d6ce9fa707c4e33acde281157a944c3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1d6ce9fa707c4e33acde281157a944c3.html" target="element"> Scrum Events </a> </td>
											    <td> <a href="../elements/id-1d6ce9fa707c4e33acde281157a944c3.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2d62a9fe7ea345ffb88a08b032c3c6b6.html" target="element"> Sprint </a> </td>
													    <td> <a href="../elements/id-2d62a9fe7ea345ffb88a08b032c3c6b6.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-9070d672a91144da88c5e5b498a273b2.html" target="element"> Sprint Planning </a> </td>
															    <td> <a href="../elements/id-9070d672a91144da88c5e5b498a273b2.html" target="element" class="i18n-elementtype-BusinessEvent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2ce9bf2a538d41b0b4b15aaf15ee9789.html" target="element"> Daily Scrum </a> </td>
															    <td> <a href="../elements/id-2ce9bf2a538d41b0b4b15aaf15ee9789.html" target="element" class="i18n-elementtype-BusinessEvent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b9c9a03e5870412288c37bb6a50b068a.html" target="element"> Sprint Review </a> </td>
															    <td> <a href="../elements/id-b9c9a03e5870412288c37bb6a50b068a.html" target="element" class="i18n-elementtype-BusinessEvent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2910ff21808b4f2c9f4a32a1ca653bcb.html" target="element"> Sprint Retrospective </a> </td>
															    <td> <a href="../elements/id-2910ff21808b4f2c9f4a32a1ca653bcb.html" target="element" class="i18n-elementtype-BusinessEvent">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-276467fb59e64d04bba2c26d315a3f55.html" target="element"> Scrum Artifacts </a> </td>
											    <td> <a href="../elements/id-276467fb59e64d04bba2c26d315a3f55.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-eef5e6d8a0be45e9a967fc797e32e596.html" target="element"> Product </a> </td>
													    <td> <a href="../elements/id-eef5e6d8a0be45e9a967fc797e32e596.html" target="element" class="i18n-elementtype-Product">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9f8ad53cd2d3426eac7faff1fa9ca18e.html" target="element"> Increment </a> </td>
													    <td> <a href="../elements/id-9f8ad53cd2d3426eac7faff1fa9ca18e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e85d2909118048f5825078ce9e273cbf.html" target="element"> Sprint Backlog </a> </td>
													    <td> <a href="../elements/id-e85d2909118048f5825078ce9e273cbf.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d48559daaf4e4becbf8a7fe12a60b302.html" target="element"> Actionable Plan </a> </td>
													    <td> <a href="../elements/id-d48559daaf4e4becbf8a7fe12a60b302.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8c25fc71b61e434a9cd08482d094760e.html" target="element"> Product Backlog Item </a> </td>
													    <td> <a href="../elements/id-8c25fc71b61e434a9cd08482d094760e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-020bd65dc6d64206a7d9ae474dd5c52d.html" target="element"> Product Backlog </a> </td>
													    <td> <a href="../elements/id-020bd65dc6d64206a7d9ae474dd5c52d.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-756c05a69c834c6f9b234210e06c390b.html" target="element"> Work Item </a> </td>
													    <td> <a href="../elements/id-756c05a69c834c6f9b234210e06c390b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-8b2d357b70a54e4e80913587f39394d2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8b2d357b70a54e4e80913587f39394d2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-c1b70b276d4c4b0f91a856df6c13adc1.html" target="element"> Scrum Team Roles </a> </td>
											    <td> <a href="../elements/id-c1b70b276d4c4b0f91a856df6c13adc1.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4ee66d2164f849929a5421e65d9f2e52.html" target="element"> Scrum Team Member </a> </td>
													    <td> <a href="../elements/id-4ee66d2164f849929a5421e65d9f2e52.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-381354df789846a28878259f9a42e410.html" target="element"> Scrum Role </a> </td>
													    <td> <a href="../elements/id-381354df789846a28878259f9a42e410.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d01694f8fce44edabc198124d56455d4.html" target="element"> Scrum Team </a> </td>
													    <td> <a href="../elements/id-d01694f8fce44edabc198124d56455d4.html" target="element" class="i18n-elementtype-BusinessCollaboration">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-abe9a973dc00462c8bbeba4e75a6bb0f.html" target="element"> Product Owner </a> </td>
													    <td> <a href="../elements/id-abe9a973dc00462c8bbeba4e75a6bb0f.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d31a742f80143fb877762fd8e99d81c.html" target="element"> Scrummaster </a> </td>
													    <td> <a href="../elements/id-3d31a742f80143fb877762fd8e99d81c.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cc7b36a294424186887480708c8b754b.html" target="element"> Developer </a> </td>
													    <td> <a href="../elements/id-cc7b36a294424186887480708c8b754b.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-fc0d4d74ae40489d904419755c03bfe4.html" target="element"> Scrum Theory </a> </td>
											    <td> <a href="../elements/id-fc0d4d74ae40489d904419755c03bfe4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-91b63901a2674a0d84af8153cf98b2e3.html" target="element"> Transparency </a> </td>
													    <td> <a href="../elements/id-91b63901a2674a0d84af8153cf98b2e3.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c9bcc20d6f5c4e0cbc171a5cd5b57001.html" target="element"> Inspection </a> </td>
													    <td> <a href="../elements/id-c9bcc20d6f5c4e0cbc171a5cd5b57001.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5666873cf8a44f3db07b445c38b0033d.html" target="element"> Adaptation </a> </td>
													    <td> <a href="../elements/id-5666873cf8a44f3db07b445c38b0033d.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-342d4abff53e4a24bfe7d5a97575c2f7.html" target="element"> Scrum Values </a> </td>
											    <td> <a href="../elements/id-342d4abff53e4a24bfe7d5a97575c2f7.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-699528acfc594cdaa99221d6dfc56c17.html" target="element"> Commitment </a> </td>
													    <td> <a href="../elements/id-699528acfc594cdaa99221d6dfc56c17.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-53809e29a09e444e9e52442c77b82881.html" target="element"> Focus </a> </td>
													    <td> <a href="../elements/id-53809e29a09e444e9e52442c77b82881.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bb3959a8438e43d1a0887857c51c111f.html" target="element"> Openness </a> </td>
													    <td> <a href="../elements/id-bb3959a8438e43d1a0887857c51c111f.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-be3f9f82fc3a4a1d8b6df383bbc6f17f.html" target="element"> Respect </a> </td>
													    <td> <a href="../elements/id-be3f9f82fc3a4a1d8b6df383bbc6f17f.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-331ac9a493cb4681b6eb0bf221fe9073.html" target="element"> Courage </a> </td>
													    <td> <a href="../elements/id-331ac9a493cb4681b6eb0bf221fe9073.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-05ca22e09eae43f9be67b7637a6ab10e.html" target="element"> Commitments </a> </td>
											    <td> <a href="../elements/id-05ca22e09eae43f9be67b7637a6ab10e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8ffeadb8f34f475790ce7f8533b31110.html" target="element"> Product Goal </a> </td>
													    <td> <a href="../elements/id-8ffeadb8f34f475790ce7f8533b31110.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-94950469b53d463296cfcf5f4fb0cfef.html" target="element"> Sprint Goal </a> </td>
													    <td> <a href="../elements/id-94950469b53d463296cfcf5f4fb0cfef.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6530801b36054c31a03e518f81ef082a.html" target="element"> Definition of Done DoD </a> </td>
													    <td> <a href="../elements/id-6530801b36054c31a03e518f81ef082a.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c646a6e379a5425db39708718689a224.html" target="element"> Usable </a> </td>
													    <td> <a href="../elements/id-c646a6e379a5425db39708718689a224.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-84abff8f7e55476289c5802edc89703c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-84abff8f7e55476289c5802edc89703c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-fb6e2cdef7ce4cd69b479ead2d326cdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb6e2cdef7ce4cd69b479ead2d326cdf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1d6ce9fa707c4e33acde281157a944c3.html" target="element"> Scrum Events </a> </td>
																		<td> <a href="../elements/id-2d62a9fe7ea345ffb88a08b032c3c6b6.html" target="element"> Sprint </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-891af4f52e3f4ad5bb5b75051eba516e.html" target="element"> designed for supporting scrum theory </a> </td>
																		<td> <a href="../elements/id-891af4f52e3f4ad5bb5b75051eba516e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1d6ce9fa707c4e33acde281157a944c3.html" target="element"> Scrum Events </a> </td>
																		<td> <a href="../elements/id-fc0d4d74ae40489d904419755c03bfe4.html" target="element"> Scrum Theory </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d65f289572648ccbde653005136695c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d65f289572648ccbde653005136695c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1d6ce9fa707c4e33acde281157a944c3.html" target="element"> Scrum Events </a> </td>
																		<td> <a href="../elements/id-276467fb59e64d04bba2c26d315a3f55.html" target="element"> Scrum Artifacts </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b8b289a7115e4d2a9181a98f864fa1ce.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b8b289a7115e4d2a9181a98f864fa1ce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d62a9fe7ea345ffb88a08b032c3c6b6.html" target="element"> Sprint </a> </td>
																				<td> <a href="../elements/id-9070d672a91144da88c5e5b498a273b2.html" target="element"> Sprint Planning </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8a116bcbe5534483a41708c107ee1d42.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8a116bcbe5534483a41708c107ee1d42.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d62a9fe7ea345ffb88a08b032c3c6b6.html" target="element"> Sprint </a> </td>
																				<td> <a href="../elements/id-2ce9bf2a538d41b0b4b15aaf15ee9789.html" target="element"> Daily Scrum </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e5d43918887b4b7ead8bd7d1ab151b4b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e5d43918887b4b7ead8bd7d1ab151b4b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d62a9fe7ea345ffb88a08b032c3c6b6.html" target="element"> Sprint </a> </td>
																				<td> <a href="../elements/id-b9c9a03e5870412288c37bb6a50b068a.html" target="element"> Sprint Review </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d10404dada5b49da9a10151e4f20c365.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d10404dada5b49da9a10151e4f20c365.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d62a9fe7ea345ffb88a08b032c3c6b6.html" target="element"> Sprint </a> </td>
																				<td> <a href="../elements/id-2910ff21808b4f2c9f4a32a1ca653bcb.html" target="element"> Sprint Retrospective </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-6d94af96f9ae4909bd15ce44dd742df8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6d94af96f9ae4909bd15ce44dd742df8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-276467fb59e64d04bba2c26d315a3f55.html" target="element"> Scrum Artifacts </a> </td>
																		<td> <a href="../elements/id-eef5e6d8a0be45e9a967fc797e32e596.html" target="element"> Product </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3c53b49907234498960fede1796100c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c53b49907234498960fede1796100c7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-276467fb59e64d04bba2c26d315a3f55.html" target="element"> Scrum Artifacts </a> </td>
																		<td> <a href="../elements/id-9f8ad53cd2d3426eac7faff1fa9ca18e.html" target="element"> Increment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d0f139dc54b64d43b03b8a633a7d128e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0f139dc54b64d43b03b8a633a7d128e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-276467fb59e64d04bba2c26d315a3f55.html" target="element"> Scrum Artifacts </a> </td>
																		<td> <a href="../elements/id-e85d2909118048f5825078ce9e273cbf.html" target="element"> Sprint Backlog </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-677536b42f2e41328efaed4e62c8653b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-677536b42f2e41328efaed4e62c8653b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-276467fb59e64d04bba2c26d315a3f55.html" target="element"> Scrum Artifacts </a> </td>
																		<td> <a href="../elements/id-d48559daaf4e4becbf8a7fe12a60b302.html" target="element"> Actionable Plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9cb4e9dbd2404f6da104c1b44cf72a07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9cb4e9dbd2404f6da104c1b44cf72a07.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-276467fb59e64d04bba2c26d315a3f55.html" target="element"> Scrum Artifacts </a> </td>
																		<td> <a href="../elements/id-8c25fc71b61e434a9cd08482d094760e.html" target="element"> Product Backlog Item </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1cdb741d57424f8c8bce4a62ab7d7f29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1cdb741d57424f8c8bce4a62ab7d7f29.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-276467fb59e64d04bba2c26d315a3f55.html" target="element"> Scrum Artifacts </a> </td>
																		<td> <a href="../elements/id-020bd65dc6d64206a7d9ae474dd5c52d.html" target="element"> Product Backlog </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cbf8bf13b4784b2cb19a028890540106.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cbf8bf13b4784b2cb19a028890540106.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-276467fb59e64d04bba2c26d315a3f55.html" target="element"> Scrum Artifacts </a> </td>
																		<td> <a href="../elements/id-05ca22e09eae43f9be67b7637a6ab10e.html" target="element"> Commitments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d9988ec1096346bab446dbdefe1f6642.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d9988ec1096346bab446dbdefe1f6642.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-276467fb59e64d04bba2c26d315a3f55.html" target="element"> Scrum Artifacts </a> </td>
																		<td> <a href="../elements/id-756c05a69c834c6f9b234210e06c390b.html" target="element"> Work Item </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7777e1ec2ddb4cf1b5c9384814994853.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7777e1ec2ddb4cf1b5c9384814994853.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eef5e6d8a0be45e9a967fc797e32e596.html" target="element"> Product </a> </td>
																				<td> <a href="../elements/id-9f8ad53cd2d3426eac7faff1fa9ca18e.html" target="element"> Increment </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e682d5c2050146dba419884b317d3328.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e682d5c2050146dba419884b317d3328.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9f8ad53cd2d3426eac7faff1fa9ca18e.html" target="element"> Increment </a> </td>
																				<td> <a href="../elements/id-6530801b36054c31a03e518f81ef082a.html" target="element"> Definition of Done DoD </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f8fedd615404460c9f416009312ba0ea.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f8fedd615404460c9f416009312ba0ea.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9f8ad53cd2d3426eac7faff1fa9ca18e.html" target="element"> Increment </a> </td>
																				<td> <a href="../elements/id-c646a6e379a5425db39708718689a224.html" target="element"> Usable </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ae7ee8e1b57346d985c40a583ca87022.html" target="element"> how </a> </td>
																				<td> <a href="../elements/id-ae7ee8e1b57346d985c40a583ca87022.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e85d2909118048f5825078ce9e273cbf.html" target="element"> Sprint Backlog </a> </td>
																				<td> <a href="../elements/id-d48559daaf4e4becbf8a7fe12a60b302.html" target="element"> Actionable Plan </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d2b7c9c5a2bb4a50bba63e60bae6a526.html" target="element"> what </a> </td>
																				<td> <a href="../elements/id-d2b7c9c5a2bb4a50bba63e60bae6a526.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e85d2909118048f5825078ce9e273cbf.html" target="element"> Sprint Backlog </a> </td>
																				<td> <a href="../elements/id-8c25fc71b61e434a9cd08482d094760e.html" target="element"> Product Backlog Item </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a96e044393a3421085d5771770391706.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a96e044393a3421085d5771770391706.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e85d2909118048f5825078ce9e273cbf.html" target="element"> Sprint Backlog </a> </td>
																				<td> <a href="../elements/id-94950469b53d463296cfcf5f4fb0cfef.html" target="element"> Sprint Goal </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8029011ff22f44b2bf40bc67c6d7ec92.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8029011ff22f44b2bf40bc67c6d7ec92.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8c25fc71b61e434a9cd08482d094760e.html" target="element"> Product Backlog Item </a> </td>
																				<td> <a href="../elements/id-756c05a69c834c6f9b234210e06c390b.html" target="element"> Work Item </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0e76a5b0127d463da7d2764c54071bcf.html" target="element"> what </a> </td>
																				<td> <a href="../elements/id-0e76a5b0127d463da7d2764c54071bcf.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-020bd65dc6d64206a7d9ae474dd5c52d.html" target="element"> Product Backlog </a> </td>
																				<td> <a href="../elements/id-8c25fc71b61e434a9cd08482d094760e.html" target="element"> Product Backlog Item </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9d0566cd028f47e7be02d37e3646757c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9d0566cd028f47e7be02d37e3646757c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-020bd65dc6d64206a7d9ae474dd5c52d.html" target="element"> Product Backlog </a> </td>
																				<td> <a href="../elements/id-8ffeadb8f34f475790ce7f8533b31110.html" target="element"> Product Goal </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-ba7b362f09e949b1a17f6a016db19606.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba7b362f09e949b1a17f6a016db19606.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c1b70b276d4c4b0f91a856df6c13adc1.html" target="element"> Scrum Team Roles </a> </td>
																		<td> <a href="../elements/id-4ee66d2164f849929a5421e65d9f2e52.html" target="element"> Scrum Team Member </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72c2205eaf1743c8ad3e4a6f96624983.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72c2205eaf1743c8ad3e4a6f96624983.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c1b70b276d4c4b0f91a856df6c13adc1.html" target="element"> Scrum Team Roles </a> </td>
																		<td> <a href="../elements/id-1d6ce9fa707c4e33acde281157a944c3.html" target="element"> Scrum Events </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aab09c215a594ee5865a4b13a9cda0f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aab09c215a594ee5865a4b13a9cda0f3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c1b70b276d4c4b0f91a856df6c13adc1.html" target="element"> Scrum Team Roles </a> </td>
																		<td> <a href="../elements/id-342d4abff53e4a24bfe7d5a97575c2f7.html" target="element"> Scrum Values </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2cb1b858f7394fffae5dd13512e34ed0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2cb1b858f7394fffae5dd13512e34ed0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c1b70b276d4c4b0f91a856df6c13adc1.html" target="element"> Scrum Team Roles </a> </td>
																		<td> <a href="../elements/id-381354df789846a28878259f9a42e410.html" target="element"> Scrum Role </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1328a22eb1344c2eb810bef14a0f0863.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1328a22eb1344c2eb810bef14a0f0863.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c1b70b276d4c4b0f91a856df6c13adc1.html" target="element"> Scrum Team Roles </a> </td>
																		<td> <a href="../elements/id-d01694f8fce44edabc198124d56455d4.html" target="element"> Scrum Team </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e3f7a88422e74060b1d79b31b9a96967.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e3f7a88422e74060b1d79b31b9a96967.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4ee66d2164f849929a5421e65d9f2e52.html" target="element"> Scrum Team Member </a> </td>
																				<td> <a href="../elements/id-381354df789846a28878259f9a42e410.html" target="element"> Scrum Role </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8c2b52a4ebe14c99a37296d20354165a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8c2b52a4ebe14c99a37296d20354165a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d01694f8fce44edabc198124d56455d4.html" target="element"> Scrum Team </a> </td>
																				<td> <a href="../elements/id-4ee66d2164f849929a5421e65d9f2e52.html" target="element"> Scrum Team Member </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ccd10869300447f7bef13ef67c6f7dde.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ccd10869300447f7bef13ef67c6f7dde.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abe9a973dc00462c8bbeba4e75a6bb0f.html" target="element"> Product Owner </a> </td>
																				<td> <a href="../elements/id-381354df789846a28878259f9a42e410.html" target="element"> Scrum Role </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-24d06d6a56354608b2f44ee5c972b343.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-24d06d6a56354608b2f44ee5c972b343.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3d31a742f80143fb877762fd8e99d81c.html" target="element"> Scrummaster </a> </td>
																				<td> <a href="../elements/id-381354df789846a28878259f9a42e410.html" target="element"> Scrum Role </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2f222794ccd54708a093d4668a3650bc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2f222794ccd54708a093d4668a3650bc.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cc7b36a294424186887480708c8b754b.html" target="element"> Developer </a> </td>
																				<td> <a href="../elements/id-381354df789846a28878259f9a42e410.html" target="element"> Scrum Role </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6cbfa47e099341e68f8da9a34fb05e50.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6cbfa47e099341e68f8da9a34fb05e50.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc0d4d74ae40489d904419755c03bfe4.html" target="element"> Scrum Theory </a> </td>
																		<td> <a href="../elements/id-91b63901a2674a0d84af8153cf98b2e3.html" target="element"> Transparency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-76a55f1625a549009dd3694cd1dad576.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76a55f1625a549009dd3694cd1dad576.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc0d4d74ae40489d904419755c03bfe4.html" target="element"> Scrum Theory </a> </td>
																		<td> <a href="../elements/id-c9bcc20d6f5c4e0cbc171a5cd5b57001.html" target="element"> Inspection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-126a48145e944aa08b71041a36df32bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-126a48145e944aa08b71041a36df32bf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc0d4d74ae40489d904419755c03bfe4.html" target="element"> Scrum Theory </a> </td>
																		<td> <a href="../elements/id-5666873cf8a44f3db07b445c38b0033d.html" target="element"> Adaptation </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-155b11e6260c456caf0407b92a881ad7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-155b11e6260c456caf0407b92a881ad7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-342d4abff53e4a24bfe7d5a97575c2f7.html" target="element"> Scrum Values </a> </td>
																		<td> <a href="../elements/id-699528acfc594cdaa99221d6dfc56c17.html" target="element"> Commitment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e1bf04e0110440a7bcc4970cc50e3247.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1bf04e0110440a7bcc4970cc50e3247.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-342d4abff53e4a24bfe7d5a97575c2f7.html" target="element"> Scrum Values </a> </td>
																		<td> <a href="../elements/id-53809e29a09e444e9e52442c77b82881.html" target="element"> Focus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4cbbe81456cc459398878f8939f90158.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4cbbe81456cc459398878f8939f90158.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-342d4abff53e4a24bfe7d5a97575c2f7.html" target="element"> Scrum Values </a> </td>
																		<td> <a href="../elements/id-bb3959a8438e43d1a0887857c51c111f.html" target="element"> Openness </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb876b4cddd54c7ea7389aea058afc4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb876b4cddd54c7ea7389aea058afc4c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-342d4abff53e4a24bfe7d5a97575c2f7.html" target="element"> Scrum Values </a> </td>
																		<td> <a href="../elements/id-be3f9f82fc3a4a1d8b6df383bbc6f17f.html" target="element"> Respect </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64b4282b6b7d4cdb90313e025a9009d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64b4282b6b7d4cdb90313e025a9009d4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-342d4abff53e4a24bfe7d5a97575c2f7.html" target="element"> Scrum Values </a> </td>
																		<td> <a href="../elements/id-331ac9a493cb4681b6eb0bf221fe9073.html" target="element"> Courage </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7f96c2a2050d4f768c9c18c288822702.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f96c2a2050d4f768c9c18c288822702.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-05ca22e09eae43f9be67b7637a6ab10e.html" target="element"> Commitments </a> </td>
																		<td> <a href="../elements/id-8ffeadb8f34f475790ce7f8533b31110.html" target="element"> Product Goal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-344713876e354effabaf8ca39f696372.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-344713876e354effabaf8ca39f696372.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-05ca22e09eae43f9be67b7637a6ab10e.html" target="element"> Commitments </a> </td>
																		<td> <a href="../elements/id-94950469b53d463296cfcf5f4fb0cfef.html" target="element"> Sprint Goal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2589e64b795c4626b5745564bcbcabdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2589e64b795c4626b5745564bcbcabdf.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-05ca22e09eae43f9be67b7637a6ab10e.html" target="element"> Commitments </a> </td>
																		<td> <a href="../elements/id-6530801b36054c31a03e518f81ef082a.html" target="element"> Definition of Done DoD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6def291c42424182afc2f99040585a9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6def291c42424182afc2f99040585a9a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-05ca22e09eae43f9be67b7637a6ab10e.html" target="element"> Commitments </a> </td>
																		<td> <a href="../elements/id-c646a6e379a5425db39708718689a224.html" target="element"> Usable </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>